@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pinyon+Script&display=swap');

:root{
    --font01: "Pinyon Script", cursive;
    --font02: "Libre Baskerville", serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body, html{
    background-color:white;
    font-family: var(--font02);
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px;
    
    h1{
        font-family: var(--font01);
        font-size: 2.8em;
        margin: auto;
    }
    a{
        color: black;
        font-weight: bolder;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
    }
    a:hover{
        background-color: aliceblue;
        transition: 0.5s ease-in;
    }
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 250px;
    h1{
        font-size: 3em;
        text-align: left;
        text-align: center;
    }
    article{
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
        h2{
            font-size: 2.5em;
        }
        .notsec{
            flex: 1 1 200px;
            margin: 20px;
            border: 1px solid black;
            padding: 15px;
        }
        img{
            margin: 0 auto;
        }
        a{
            color: brown;
            font-weight: 900;
        }
    }
}
.notic2{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    border-top: 2px solid black;
    padding: 15px;
}
.notsec{
    display: grid;
    grid-template-columns: 1rf 1rf;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    padding: 15px;

}
@media screen and (max-width: 600px){
    .notic2{
        grid-template-columns:  repeat(2, 1fr);
    }
}
.notsec{
    margin-top: 60px;
}

img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}





